.js-slider{ 
  white-space:nowrap; 
}
.js-slider input[type='text']{ 
text-align:right;
  width:24px; 
  margin:0px 8px; 
} 

.js-slider3{ 
	display:inline-block; 
  	position:relative; 
	vertical-align: middle; 
	width:100px; 
	height:20px; 
} 
.js-slider2{ 
	display:inline-block; 
	width:100%; 
	background:#ddd; 
	height:3px; 
	border:1px inset #aaa; 
} 
.js-slider3 input{ 
  position:absolute; 
  width:15px; 
  height:100%; 
  border-width:1px; 
  touch-action:none; 
}

.tumami{
	left: -7.5px;
}
