html{
	height:100%;
	width:100%;
	font-size:10pt;
	font-family:monospace;
	color:#cccccc;
}
div.area{
	background-color:#444444;

	border:1px solid black;
	margin:2px;
	padding:2px;
	overflow:auto;
}
a{
color:#9999ff;
}
body{
	height:100%;
	width:100%;
	margin:0px;
	background-color:#111111;
}
ul{
	list-style-type: none;
	padding-left:10px;
	margin:4px;
}
div.all{
	width:100%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	padding:0px;
	margin:0px;
}
div.left{
	float:left;
	min-width:256px;
}
div.center{
	float:left;
	flex:1;
	height:100%;
//	max-width:calc(100% - 600px);
	min-width:540px;
}
div.right{
	float:left;
	min-width:280px;
}
span.js-slider2{
background:#333;
}
input[type="button"]{
	background:#336;
}
input,select{
	font-size:smaller;
background:#000;
   color:#ccc;
}
input[type="text"]{
	width:64px;
}
input[type="text"].size{
	width:32px;
	text-align:right;
}

div.canvas_area{
	height:calc(100% - 30px);
	position:relative;
	
}
ul#color_selector_tab li{
	display:inline-block;
}
div.canvas_status{
	position:absolute;
	bottom:0px;
}
div.canvas_field{
	overflow:scroll;
	position:absolute;
	top:24px;
	bottom:24px;
	left:0px;
	right:0px;
	
}
div.spacer{
	min-width:0%;
	min-height:0%;
}
#preview{
	border:solid 1px;
	background-image:url(back.png);

	position:absolute;

	touch-action:none;
}


.layers{
	border:solid 1px;
	overflow:visible scroll;
	height:300px;
}
.layer{
	border:solid 1px;
	height:64px;
	min-height:64px;
	font-size:smaller;
	line-height:1;
	background-color:transparent;
	padding:2px;
white-space: nowrap;
clear:both;
}
.layer.group{
	border:inset 2px;
	height:auto;
}
.layer div.children{
	display:none;
}
.layer.group>div.children{
    min-height: 20px;
    /* min-width: 100px; */
    border: 1px solid black
}
.layer.group div.children{
	display:block;
	margin-left:20px;
}


.colorpicker{
	width:48px;

}
.layer .name{
	text-align:left;
	font-weight:bold;

}
.layer_attributes{
	text-align:right;

}
.layer .thumbnail{
   background-image:url(back.png);
	width:auto;
	height:100%;
}

.active_layer{
background-color:#FFBF00;
color:#000;
}
.disable_layer{
	border-style:dotted;
}
#history{
	overflow:auto;
	width:256px;
}
.js-output{
	text-align:right;
}
#color_R
,#color_G
,#color_B 
,#color_A{
width:64px;
}
#color_R + .js-slider
,#color_G + .js-slider
,#color_B + .js-slider{
width:128;
}

#pen_preview{
   background-image:url(back.png);
}
